/* @import url("./lib/jquery.jgrowl.css"); */

#msCart {
  th, td {
    text-align: center;
    line-height: 30px;
  }
  .title {
    text-align: left;
  }
  th.total {
    text-align: right;
    padding-right: 5px;
  }
}

.js #msCart [type="submit"][value="cart/change"] {
  display: none;
}

#msMiniCart {
  font-size: .8em;
  h5 {
    margin: 0;
  }
  .empty {
    display: block;
  }
  .not_empty {
    display: none;
  }
  &.full {
    .empty {
      display: none;
    }
    .not_empty {
      display: block;
    }
  }
}

#msGallery {
  text-align: center;
  #mainImage {
    margin-bottom: 10px;
    padding: 2px;
    border: 1px solid #ddd;
  }
  .thumbnails {
    width: 405px;
    margin: auto;
  }
  .span2 {
    margin-left: 10px;
    width: 120px;
    padding: 2px;
  }
}

#msOrder {
  .error {
    border: 1px solid brown !important;
  }
  .required-star {
    color: brown;
  }
}

.ms2_product {
  .price {
    padding-left: 50px;
    padding-right: 30px;
  }
  .old_price {
    padding-right: 30px;
  }
  .tags, .color, .size {
    padding-right: 20px;
    font-size: 0.9em;
  }
  .old_price {
    color: brown;
    font-style: italic;
    text-decoration: line-through;
  }
}

#msProduct .old_price, #msCart .old_price {
  color: brown;
  font-style: italic;
  text-decoration: line-through;
}

.msProductsLog, .msGalleryLog {
  width: 100%;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

#msOrder {
  margin-top: 50px;
  .radio {
    min-height: 30px;
    margin-bottom: 10px;
    img {
      max-height: 30px;
      margin-top: -2px;
      padding: 0 10px;
    }
  }
  .required-star {
    display: none;
  }
  .required .required-star {
    display: inline;
  }
}

.ms2-message-success {
  background-color: green !important;
}

.ms2-message-error {
  background-color: brown !important;
}

.ms2-message-info {
  background-color: black !important;
}

.form-group .input-sm {
  width: 50%;
}
