/* start font_fontawesome */
@import 'fonts/font_fontawesome';
/* end font_fontawesome */
/* start bootstrap */
@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';
/* end bootstrap */
/* start rev_slider */
@import 'rev_slider';
/* end rev_slider */
/* start camera */
@import 'camera';
/* start owl.carousel owl.transitions */
@import 'owl.carousel';
@import 'owl.transitions';
/* start jquery.custom-scrollbar */
@import 'jquery.custom-scrollbar';
/* start style */
@import 'style';
/* start default */
@import 'default';
/* end import */
.banner_box,
.adv {
  display: none !important;
}

.main_menu {
  li {
    position: relative;

    margin-left: 40px;

    transition: .5s ease-out;

    border-radius: 4px;
    &:last-child {
      a {
        color: #e74c3c;
      }
    }
    a {
      font-size: 14px;
      font-weight: bold;

      text-align: center;
      text-transform: uppercase;

      color: #000;
    }
    .sub-menu {
      position: absolute;
      left: 0;

      visibility: hidden;

      width: 195px;
      margin-top: 10px;
      padding: 0;

      -webkit-transition: all .4s ease;
              transition: all .4s ease;
      -webkit-transform: translateY(35px);
              transform: translateY(35px);

      opacity: 0;
      border-top: 3px solid #e74c3c;
      background: #fff;
          box-shadow: 0 1px 2px rgba(0,0,0,.15);

       -o-box-shadow: 0 1px 2px rgba(0,0,0,.15);
      -ms-box-shadow: 0 1px 2px rgba(0,0,0,.15);
      li {
        line-height: 2.5;

        margin-left: 0;

        text-align: center;

        border-radius: 0;
        a {
          font-weight: 200;

          padding: 7.7px 20px;

          text-transform: inherit;
        }
        &:hover {
          background-color: #ecf0f1;
          a {
            color: #e74c3c;
          }
        }
      }
    }
    &:hover {
      .sub-menu {
        visibility: visible;

        transform: translateY(-7px);

        opacity: 1;
      }
    }
  }
}
.button_type_3 {
  .fa-shopping-cart {
    &:before {
      color: #fff;
    }
  }
  b {
    color: #fff;
  }
}
