
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=0873d173412fc0c515d53cc77b1e06a0
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress