
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=bf7afedac75f57b236a5dc7fc36db1d6
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress