
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=f38148ccf005fa9039498c40d8322acd
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress